@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Noto Sans Hanunoo', sans-serif;
}

.ant-typography,
.ant-btn,
.ant-input,
.ant-menu,
.ant-card,
.ant-modal {
  font-family: 'Noto Sans Hanunoo', sans-serif;
}

.ant-card-meta-title {
  white-space: normal !important;
}
